<?xml version="1.0"?>
<robot name="yumi" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find yumi_description)/urdf/Util/materials.xacro" />
  <!-- Import utilities -->
  <xacro:include filename="$(find yumi_description)/urdf/Util/utilities.xacro" />
  <!-- Import Gazebo plugins -->
  <xacro:include filename="$(find yumi_description)/urdf/Yumi/gazebo.urdf.xacro"/>
  <!--Import the yumi xacro -->
  <xacro:include filename="$(find yumi_description)/urdf/Yumi/yumi.xacro"/>
  <!--Import the yumi servo gripper xacro -->
  <xacro:include filename="$(find yumi_description)/urdf/Grippers/smart_gripper.xacro"/>
  <!--Import the Schunk Mini40 F/T sensor -->
  <xacro:include filename="$(find yumi_description)/urdf/Sensors/ftsensor.xacro"/>

  <!--yumi-->
  <xacro:yumi name="yumi" hardware_interface="hardware_interface/$(arg arms_interface)"/>

  <!-- workspace (i.e. world/task frame) -->
  <joint name="workspace_joint" type="fixed">
    <parent link="yumi_base_link"/>
    <child link="workspace"/>
    <origin xyz="0.181 0 0" rpy="0 0 ${-PI/2}" />
  </joint>
  <link name="workspace"/>

  <!--right sensor-->
  <xacro:schunk_mini40 name="ftsensor_r" parent="yumi_link_7_r">
    <origin xyz="0 0 0.007" rpy="0 0 0" />
  </xacro:schunk_mini40>

  <!--right gripper-->
  <xacro:smart_gripper name="gripper_r" hardware_interface="hardware_interface/$(arg grippers_interface)" parent="ftsensor_r_tool">
    <origin xyz="0 0 0" rpy="0 0 ${PI/2}" />
  </xacro:smart_gripper>

  <!--left sensor-->
  <xacro:schunk_mini40 name="ftsensor_l" parent="yumi_link_7_l">
    <origin xyz="0 0 0.007" rpy="0 0 0" />
  </xacro:schunk_mini40>

  <!--left gripper-->
  <xacro:smart_gripper name="gripper_l" hardware_interface="hardware_interface/$(arg grippers_interface)" parent="ftsensor_l_tool">
    <origin xyz="0 0 0" rpy="0 0 ${PI/2}" />
  </xacro:smart_gripper>

</robot>
